.faq {
	margin: 80px auto 200px auto;
	text-align: left;

	h1 {
		text-align: left;
		margin-bottom: 40px;
	}

	h3 {
		margin-top: 60px;
		margin-bottom: 10px;
		font-size: 1.5rem;
		color: #fff;
		font-weight: 400;
	}

	p {
		margin-bottom: 30px;
	}
}